html {
    height: 100%;
    overflow-y: auto !important;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body > div:first-child {
    flex: 0 1 auto;
}

body > div:nth-child(2) {
    flex: 1 1 auto;
}

#walkthrough {
    border-left: 1px lightgray solid;
}

.map-canvas {
    width: 100%;
    height: 335px;
}

div.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    font-size: x-small;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px #c3bcbc;
    position: absolute;
}

g.zoom-controls {
    cursor: pointer;
    pointer-events: all;
}
g.zoom-controls rect {
    fill: white;
    stroke: #596877;
    stroke-width: 1;
}
g.zoom-controls line {
    stroke: #596877;
    stroke-width: 2;
}